@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  background-color: #F2F2F2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;

  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

p{
  line-height: 28px;
  margin-bottom: 25px;
}

a{
  color: #202020;
  text-decoration: none;
}
a:active :focus{
  background-color: #A5A5A5;
  color: #7F7F7F;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar{
  background-color: #595959;
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar .navbar-brand {
  height: 60px;
  weight: 90px;
}

#headerwrap{
  padding-top: 20px;
  background-color: #d8d8d8;
  min-height: 500px;
  weight: 100%;

}
.img3{
  margin-top: 20px;
  height: 400px;
  width: 350px;
}
.header3{
  margin-top: 90px;
  font-weight: 400;
}
.header1{
  margin-top: 40px;
  font-weight: 600;
}
.header5{
  margin-top: 30px;
}


.buttonz{
    margin-top: 30px;
    height: 40px;
    width: 90px;
    background-color: #595959;
    border: none;
    border-radius: 20px;
    font-weight: 300;
    font-family: "Lato";
    font-size: 16px;
    color: #F2F2F2;
}


.line{
  background-color: #595959;
  height: 100px;
}

#aboutus{
  padding-top: 20px;
  background-color: #d8d8d8;
  min-height: 500px;
  weight: 100%;
}

#aboutus h3{
  margin-top: 60px;
  margin-bottom: 80px;
  font-weight: 700;
}
#aboutus p{
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  color: #333;
}
